<script>navitem = 'nav-parts';</script>

<main class="col inset-box" aria-labelledby="heading-parts">
    <h2 id="heading-parts">{{#if part}}{{part.number}}: {{part.size}} {{part.type}}
        {{else}}Parts{{/if}}
    </h2>

    <!-- All the parts -->
    {{#if parts}}
        <table id="parts-table">
            <tr>
                <th onclick="sortTable('parts-table', 0)">N:o</th>
                <th onclick="sortTable('parts-table', 1)">Type</th>
                <th onclick="sortTable('parts-table', 2)">Size</th>
            </tr>
            {{#each parts}}<tr role="link" tabindex="0" onclick="location.href='/parts/{{number}}'">
                <td>{{number}}</td>
                <td>{{type}}</td>
                <td>{{size}}</td>
            </tr>{{/each}}
        </table>
    {{/if}}

    {{#if part}}
        <p>Number: {{part.number}}</p>
        <p>Name: {{part.type}}</p>
        <p>Type: {{part.size}}</p>
    {{/if}}
</main>